#### (Eb 27, Hil 72)

## 1.2 Mutable container

Listes :  
    1. Listes (list),   
    2. Constructeur : se définit dans une classe comme une fonction avec deux particularités :  
    •  le nom de la fonction doit être __init__ ;  
    •  la fonction doit accepter au moins un paramètre, dont le nom doit être self. Il doit être le premier paramètre.

Objects of type list are much more flexible and powerful in comparison to tuple objects.  
From a finance point of view, you can achieve a lot working only with list
objects, such as storing stock price quotes and appending new data. A list object is
defined through brackets and the basic capabilities and behaviors are similar to those
of tuple objects:

### Set (ensembles) (https://docs.python.org/3/tutorial/datastructures.html)

(set), constructeur, opérateurs - | & et ^

Un ensemble est une collection non ordonnée sans doublons. 

Les accolades ou la fonction set() peuvent être utilisées pour créer des ensembles.

In [1]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [2]:
'orange' in basket                 # fast membership testing

True

In [3]:
'crabgrass' in basket

False

In [4]:
a = set('abracadabra')
b = set('alacazam')

In [5]:
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [6]:
b

{'a', 'c', 'l', 'm', 'z'}

In [7]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [8]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [9]:
a & b                              # letters in both a and b

{'a', 'c'}

In [10]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

### Dict (Hil p 77)

Dictionnaires (dict), **constructeur, indiçage, opérateur in, fonction del(), méthodes keys(), values(), items(),
update(), get()**  

**Dictionnaires** : manipulation de références, copie superficielle via la méthode copy(), copie en profondeur
avec la fonction deepcopy() du module copy

Les dictionnaires sont des séquences mutables. Ils permettent de manipuler le contenu des données par des clés (par exemple des objets str).  
Ils sont aussi appelés des objets de clés-valeurs.  
Dict sont des objets ni triés ni triables (alors que les list sont triées et triables).

#### Constructeur, indiçage, fonction del(), opérateur in

In [11]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [12]:
tel['jack']

4098

In [15]:
list(tel)

['jack', 'guido', 'irv']

In [ ]:
tel['irv'] = 4127
tel

In [ ]:
del tel['sape']
tel

In [17]:
'guido' in tel

True

In [18]:
'jack' not in tel

False

#### Méthodes keys(), values(), items()

In [35]:
d = {
     'Name' : 'Angela Merkel',
     'Country' : 'Germany',
     'Profession' : 'Chancelor',
     'Age' : 64
     }
type(d)

dict

In [36]:
print(d['Name'], d['Age'])

Angela Merkel 64

In [37]:
d.keys()

dict_keys(['Name', 'Country', 'Profession', 'Age'])

In [38]:
d.values()

dict_values(['Angela Merkel', 'Germany', 'Chancelor', 64])

In [39]:
d.items()

dict_items([('Name', 'Angela Merkel'), ('Country', 'Germany'), ('Profession', 'Chancelor'), ('Age', 64)])

In [ ]:
for value in d.values():
    print(type(value))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

#### Update(), get()

In [43]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
# The update() method inserts the specified items to the dictionary.
car.update({"color": "White"})
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [44]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#The get() method returns the value of the item with the specified key.
x = car.get("model")
x

'Mustang'

### Lists

Listes (list), constructeur, indiçage, intération, opérateurs **+, * et in,**  
**méthodes append(), insert(), fonction del(), méthodes sort(), reverse(), remove(), extend(), pop(), clear()**  

Listes : manipulation de références, copie superficielle via la méthode copy() ou l'indiçage [:], copie en profondeur avec la fonction deepcopy() du module copy  

Fonction sorted()  
Principe de fonctionnement des objets itérables  
Fonctions reversed() et range()

*list* objects are mutable and can be changed via different operations.  
You can append list objects to an existing list object, and more :

In [21]:
t = (1, 2.5, 'data')
l = list(t)
l

[1, 2.5, 'data']

Listes (list), constructeur, intération, **indiçage, opérateurs +, * et in,**

In [22]:
l[2:5]  
# Return the third through fifth elements.

['data']

In [23]:
l1 = [1,3,2]
nouvelle_list = l1 + ['milieu'] + l
nouvelle_list

[1, 3, 2, 'milieu', 1, 2.5, 'data']

In [24]:
lx2 = l * 2
lx2

[1, 2.5, 'data', 1, 2.5, 'data']

In [25]:
# 1 in l = True
'1' in l

False

**méthodes append(), insert(), fonction del(), méthodes sort(), reverse(), remove(), extend(), pop(), clear()**

In [26]:
l.append([4, 3])  
l
# Append list object at the end (ajoute la liste à la fin).

[1, 2.5, 'data', [4, 3]]

In [27]:
l.insert(1, 'insert')  
l
# Insert object 'insert' before index position 1 (insère l'objet 'insert' avant l'index 1).

[1, 'insert', 2.5, 'data', [4, 3]]

Suppression d'un élément dans la liste par la méthode del().

In [28]:
del(l[4]) 
print (l)

[1, 'insert', 2.5, 'data']

In [29]:
l1 = [1,3,2]
l1.sort()
l1

[1, 2, 3]

In [30]:
l.reverse()
l

['data', 2.5, 'insert', 1]

Dans les exemples ci-dessus, les méthodes sort() et reverse() modifient la liste.  
Si nous récupérons la valeur de retour de ma_liste.sort() dans une variable (liste = ma_liste.sort()), nous obtenons None.  
ma_liste.sort() ne renvoie rien, c’est ma_liste elle-même qui est modifiée.

In [31]:
l.remove('data')  
l
# Remove first occurrence of object 'data'.

[2.5, 'insert', 1]

In [32]:
l.extend([1.0, 1.5, 2.0])  
l
# Append elements of the list object  (ajoute les éléments de la liste à la fin).

[2.5, 'insert', 1, 1.0, 1.5, 2.0]

In [33]:
"""
l.clear()
l # result = []
"""

'\nl.clear()\nl # result = []\n'

In [34]:
p = l.pop(3)  
print(l, p)
# Remove object at index position 3 ([4, 3]).

[2.5, 'insert', 1, 1.5, 2.0] 1.0